@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  /* --------------MOBILE MENU------------ */

  .mobile-soc-list {
    gap: 56px;
    justify-content: start;
  }

  .mobile-soc-item {
    flex-basis: calc((328px - 56px * 3) / 4);
  }

  .mobile-address-tel {
    font-size: 36px;
    line-height: calc(40 / 36);
  }

  /* --------------FOOTER--------------- */

  @media screen and (max-width: 767px) {
    .footer-modal-email {
      min-width: 396px;
    }
  }

  /* --------------MODAL--------------- */

  .modal {
    min-width: 392px;
  }
}
